.landscape{
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    
}

@media screen and (orientation: portrait) {
   .landscape{
    display: none;
   }
  }